@import url("./__picture/image-popup__picture.css");
@import url("./__caption/image-popup__caption.css");


.image-popup {
  display: flex;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
