.element__like-btn {
  width: 21px;
  height: 19px;
  background-color: #fff;
  background-image: url("../../../images/like.png");
  cursor: pointer;
  border: none;
}

/* .element__like-btn:active,
.element__like-btn:focus {

  background-image: url("../../../images/black-like.png");
  border: none;
  outline: none;
} */

.element__like-btn:hover {
  opacity: .6;
}
