@import url("./__about/edit-form__about.css");
@import url("./__name/edit-form__name.css");

.edit-form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(165, 147, 147, .2);
  color: #000;
  width: 100%;
  height: 26.26px;
  opacity: 1;
}
