.element__like-btn {
  width: 21px;
  height: 19px;
  background-color: #fff;
  background-image: url("../../../../images/like.png");
  cursor: pointer;
  border: none;
  margin: 0;
}

.element__like-btn:hover {
  opacity: .6;
}
