@import url("./__form/edit-form__form.css");
@import url("./__name/edit-form__name.css");
@import url("./__title/edit-form__title.css");
@import url("./__about/edit-form__about.css");
@import url("./__btn/edit-form__btn.css");

.edit-form {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
<<<<<<< HEAD
  border-radius: 10px;
  align-self: center;
  top: 195px;
=======
  opacity: 1;
  align-self: center;
  top: 195px;
  border-radius: 10px;

>>>>>>> origin/main
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD


@media (max-width: 450px) {
  .edit-form {
    width: 300px;
    top: 123px;
  }
}
=======
>>>>>>> origin/main
