.edit-form__close-icon {
  max-width: 58px;
  height: 58px;
  width: 100%;
  z-index: 11000;
  position: absolute;
  right: -50px;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-form__close-icon:hover {
  opacity: .6;
}

@media (max-width: 410px) {
  .edit-form__close-icon {
    right: -15px;
    top: -60px;
  }
}
