.edit-form__close-icon {
  z-index: 11000;
  position: absolute;
  right: -50px;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 410px) {
  .edit-form__close-icon {
    right: -15px;
    top: -60px;
  }
}
