@import url("./__form/image-form__form.css");
@import url("./__title/image-form__title.css");
@import url("./__btn/image-form__btn.css");
@import url("./__input/image-form__input.css");


.image-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
}



@media (max-width: 530px) {
  .image-form {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .image-form {
    width: 282px;
  }
}
