.logo-title {
  width: 173px;
  height: 33px;
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 880px) {
  .logo-title {
    margin-left: 27px;
  }
}

@media (max-width: 320px) {
  .logo-title {
    width: 126px;
    height: 24px;
  }
}
